<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{template "title" .}}</title>
	<link rel="icon" type="image/png" href="/static/img/icon.png">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<script type="text/javascript" src="/static/lib/d3.min.js"></script>
	<script type="text/javascript" src="/static/js/chart.js"></script>
	{{template "head" .}}
	<script>
		window.onload = function () {
			var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
			var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
			d3.select("#chart").attr("width", w-550).attr("height", h-190);
			d3.select(".hide").classed("hide", false);
			{{template "jsOnload" .}}
		};
	</script>
</head>
<body class="hide">
	<section class="header">
		<div class="logo">
			<a href="{{.Link.Href}}">
				<img src="/static/img/logo.png"/><br>
				<span>{{.Link.Name}}</span>
			</a>
		</div>
		<a href="https://github.com/solar3s/goregen/releases" class="version">
			<img src="/static/img/github.png" />
			<span>goregen {{.Version}}</span></a>
	</section>
	<section class="nav">
		{{template "nav" .}}
	</section>
	<section class="content">
		<svg id="chart" width="900" height="475"></svg>
	</section>
</body>
</html>
