{{define "title"}}Goregen - Live{{end}}
{{define "head"}}
	<link rel="stylesheet" type="text/css" href="/static/css/home.css">
	<script type="text/javascript" src="/static/js/websocket.js"></script>
	<script type="text/javascript" src="/static/js/controls.js"></script>
{{end}}
{{define "jsOnload"}}
	liveChart.initFrom("/data", "#chart");
	stateSocket.init("{{.Web.ListenAddr}}");
{{end}}
{{define "nav"}}
	<h3>Regenbox</h3>
	<span style="display: none;" class="vRawVoltage"></span>
	<table class="overview">
		<tr>
			<td>State:</td>
			<td class="v vState">-</td>
		</tr>
		<tr>
			<td>ChargeState:</td>
			<td class="v vChargeState">-</td>
		</tr>
		<tr>
			<td>Tension:</td>
			<td class="v vVoltage">-</td>
		</tr>
		<tr>
			<td>WebSocket:</td>
			<td class="ws">-</td>
		</tr>
	</table>
	<section class="controls">
		<button class="ctrl cUp cCharge" onclick="rbCharge();">Charge</button>
		<button class="ctrl cUp cDischarge" onclick="rbDischarge();">Discharge</button>
		<button class="ctrl cUp cCycle" onclick="rbCycle();">Multi-cycle</button>
		<button class="ctrl cDown cStop" onclick="rbStop();">Stop</button>
	</section>
	<section class="config">
		<h3>User</h3>
		<table>
			<tr>
				<td>Beta-test ID:</td>
				<td class="userId">{{.User.BetaId}}</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td class="userName">{{.User.Name}}</td>
			</tr>
		</table>
		<h3>Battery</h3>
		<table>
			<tr>
				<td>Beta-test ref:</td>
				<td class="batteryRef">{{.Battery.BetaRef}}</td>
			</tr>
			<tr>
				<td>Type:</td>
				<td class="batteryName">{{.Battery.Type}}</td>
			</tr>
			<tr>
				<td>Voltage:</td>
				<td class="batteryVoltage">{{if gt .Battery.Voltage 0}}{{.Battery.Voltage}}mV{{end}}</td>
			</tr>
			<tr>
				<td>Brand:</td>
				<td class="batteryBrand">{{.Battery.Brand}}</td>
			</tr>
			<tr>
				<td>Model:</td>
				<td class="batteryModel">{{.Battery.Model}}</td>
			</tr>
		</table>
		<h3>Config</h3>
		<table>
			<tr>
				<td>Mode:</td>
				<td class="cfgMode">{{.Regenbox.Mode}}</td>
			</tr>
			<tr>
				<td>Number of half-cycles to do:</td>
				<td class="cfgNbHalfCycles">{{.Regenbox.NbHalfCycles}}</td>
			</tr>
			<tr>
				<td>Maximum charge duration:</td>
				<td class="cfgUpDuration">{{.Regenbox.UpDuration}}</td>
			</tr>
			<tr>
				<td>Maximum discharge duration:</td>
				<td class="cfgDownDuration">{{.Regenbox.DownDuration}}</td>
			</tr>
			<tr>
				<td>Target upper-bond voltage:</td>
				<td class="cfgTopVoltage">{{.Regenbox.TopVoltage}} mV</td>
			</tr>
			<tr>
				<td>Target lower-bond voltage:</td>
				<td class="cfgBottomVoltage">{{.Regenbox.BottomVoltage}} mV</td>
			</tr>
			<tr>
				<td>Ticker interval between two measures:</td>
				<td class="cfgTicker">{{.Regenbox.Ticker}}</td>
			</tr>
			<tr>
				<td>First cycle is a charge cycle:</td>
				<td class="cfgChargeFirst">{{.Regenbox.ChargeFirst}}</td>
			</tr>
		</table>
	</section>
{{end}}
