{{define "title"}}Goregen - Live{{end}}
{{define "head"}}
	<link rel="stylesheet" type="text/css" href="/static/css/home.css">
	<script type="text/javascript" src="/static/js/websocket.js"></script>
	<script type="text/javascript" src="/static/js/controls.js"></script>
{{end}}
{{define "jsOnload"}}
	liveChart.initFrom("/data", "#chart");
	stateSocket.init("{{.Web.ListenAddr}}");
{{end}}
{{define "nav"}}
	<h3>Regenbox</h3>
	<span style="display: none;" class="vRawVoltage"></span>
	<table class="overview">
		<tr>
			<td>State:</td>
			<td class="v vState">-</td>
		</tr>
		<tr>
			<td>Firmware:</td>
			<td class="v vFirmware">-</td>
		</tr>
		<tr>
			<td>ChargeState:</td>
			<td class="v vChargeState">-</td>
		</tr>
		<tr>
			<td>Tension 1 (test):</td>
			<td class="v vVoltage">-</td>
		</tr>
		<tr>
			<td style="color:red">Tension 2:</td>
			<td class="v vVoltage1">-</td>
		</tr>
		<tr>
			<td style="color:green">Tension 3:</td>
			<td class="v vVoltage2">-</td>
		</tr>
		<tr>
			<td style="color:blue">Tension 4:</td>
			<td class="v vVoltage3">-</td>
		</tr>
		<tr>
			<td>WebSocket:</td>
			<td class="ws">-</td>
		</tr>
	</table>
	<h3>Cycle <span class="cycleREC {{if .CycleMsg}}{{if .CycleMsg.Final}}hidden{{end}}{{else}}hidden{{end}}">&#x25cf;</span></h3>
	<table class="cycle">
		<tr>
			<td>Type:</td>
			<td class="cy cyType">{{if .CycleMsg}}{{.CycleMsg.Type}}{{else}}-{{end}}</td>
		</tr>
		<tr>
			<td>Status:</td>
			<td class="cy cyStatus">{{if .CycleMsg}}{{.CycleMsg.Status}}{{else}}-{{end}}</td>
		</tr>
		<tr>
			<td>Target:</td>
			<td class="cy cyTarget">{{if .CycleMsg}}{{.CycleMsg.Target}}mV{{else}}-{{end}}</td>
		</tr>
		<tr>
			<td>Runtime:</td>
			<td class="cy cyRuntime">-</td>
		</tr>
	</table>
	<section class="controls">
		<div class="controls_panel">
			TEST-battery<br>
			<button class="ctrl cUp cCharge" onclick="rbCharge();">Charge</button><br>
			<button class="ctrl cUp cDischarge" onclick="rbDischarge();">Discharge</button><br>
			<button class="ctrl cUp cCycle" onclick="rbCycle();">Multi-cycle</button>
		</div>
		<div class="controls_panel" style="border-left:1px black solid">
			Multi-battery<br>
			<input type="checkbox" class="ctrl cUp cBattery1" id="cBattery1"><label for="cBattery1" checked>Battery 1</label><br>
			<input type="checkbox" class="ctrl cUp cBattery2" id="cBattery2"><label for="cBattery2" checked>Battery 2</label><br>
			<input type="checkbox" class="ctrl cUp cBattery3" id="cBattery3"><label for="cBattery3" checked>Battery 3</label><br>
			<input type="checkbox" class="ctrl cUp cBattery4" id="cBattery4"><label for="cBattery4" checked>Battery 4</label><br>
			<button class="ctrl cUp cChargeX4" onclick="rbChargeX4();">Charge</button>
		</div>
		<button class="ctrl cDown cStop" onclick="rbStop();">Stop</button><br>
	</section>
	<hr>
	<section class="config">
		<h3>User</h3>
		<table>
			<tr>
				<td>Beta-test ID:</td>
				<td class="userId">{{.User.BetaId}}</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td class="userName">{{.User.Name}}</td>
			</tr>
		</table>
		<h3>Battery</h3>
		<table>
			<tr>
				<td>Beta-test ref:</td>
				<td class="batteryRef">{{.Battery.BetaRef}}</td>
			</tr>
			<tr>
				<td>Type:</td>
				<td class="batteryName">{{.Battery.Type}}</td>
			</tr>
			<tr>
				<td>Voltage:</td>
				<td class="batteryVoltage">{{if gt .Battery.Voltage 0}}{{.Battery.Voltage}}mV{{end}}</td>
			</tr>
			<tr>
				<td>Brand:</td>
				<td class="batteryBrand">{{.Battery.Brand}}</td>
			</tr>
			<tr>
				<td>Model:</td>
				<td class="batteryModel">{{.Battery.Model}}</td>
			</tr>
		</table>
		<h3>Resistor</h3>
		<table>
			<tr>
				<td>Value:</td>
				<td class="resValue">{{if gt .Resistor 0.0}}{{.Resistor}}ohm{{end}}</td>
			</tr>
		</table>
		<h3>Config</h3>
		<table>
			<tr>
				<td>Mode:</td>
				<td class="cfgMode">{{.Regenbox.Mode}}</td>
			</tr>
			<tr>
				<td>Number of half-cycles to do:</td>
				<td class="cfgNbHalfCycles">{{.Regenbox.NbHalfCycles}}</td>
			</tr>
			<tr>
				<td>Maximum charge duration:</td>
				<td class="cfgUpDuration">{{.Regenbox.UpDuration}}</td>
			</tr>
			<tr>
				<td>Maximum discharge duration:</td>
				<td class="cfgDownDuration">{{.Regenbox.DownDuration}}</td>
			</tr>
			<tr>
				<td>Target upper-bond voltage:</td>
				<td class="cfgTopVoltage">{{.Regenbox.TopVoltage}} mV</td>
			</tr>
			<tr>
				<td>Target lower-bond voltage:</td>
				<td class="cfgBottomVoltage">{{.Regenbox.BottomVoltage}} mV</td>
			</tr>
			<tr>
				<td>Measures interval:</td>
				<td class="cfgTicker">{{.Regenbox.Ticker}}</td>
			</tr>
			<tr>
				<td>Multi-cycle charge first:</td>
				<td class="cfgChargeFirst">{{.Regenbox.ChargeFirst}}</td>
			</tr>
		</table>
	</section>
{{end}}
