.header .logo {
    background: rgba(242, 144, 9, 1);
    border-bottom: 1px #98530a solid;
}

.header {
    background: rgba(242, 144, 9, 0.3);
}

#explorer {
    width: 95%;
    min-height: 150px;
    margin: 5px 10px 5px 15px;
}

select {
    font-size: 16px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}