.header .logo {
    background: rgba(15, 146, 208, 1);
    border-bottom: 1px #07415c solid;
}

.header {
    background: rgba(15, 146, 208, 0.3);
}

.cycleREC {
    color: red;
    -webkit-animation: flck 2s infinite linear;
    -moz-animation: flck 2s infinite linear;
    -o-animation: flck 2s infinite linear;
    animation: flck 2s infinite linear;
}

@keyframes flck {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes flck {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes flck {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes flck {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}